---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <!-- <p class="post-excerpt">{{ post.excerpt | markdownify }}(<a href="{{ post.url }}">more</a>)</p> -->
      </li>
    {% endfor %}
  </ul>

  <!-- RSS
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
    <div class="pagination" style="text-align: left;">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev&nbsp;</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&nbsp;Next</a>
      {% endif %}
    </div>
  {% endif %}

</div>
