<header class="site-header">
  <div class="wrapper">
    <img style="float: left" src="{{ site.baseurl }}/img/jaeyoung.png" />
    <a class="site-title" href="{{ site.baseurl }}/">
      <div style="float: left; margin-left: 30px;">{{ site.name | upcase}}<div>
    </a>
    <div style="float: left;">
      <a style="float: left;" class="post-link" href="http://rangken.gitbooks.io/nextersstudy1/content/">
        <h4 style="color:#ffffff;"> Study </h4>
      </a>
      <a style="float: left; margin-left: 10px;" class="post-link" href="http://nexters.github.io/Node-Study/">
        <h4 style="color:#ffffff;"> Node.js<h4/>
      </a>
    </div>
  </div>
</header>
