<!-- Twitter -->
<span class="post-sharing">
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</span>



<!-- Reddit -->
<span class="post-sharing" style="margin-right: 32px">
  <script type="text/javascript" src="//www.redditstatic.com/button/button1.js"></script>
</span>
<!-- Facebook -->
<span class="post-sharing">
  <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button" style="width: 70px;"></div>
</span>
